*{
	box-sizing: border-box;
}
h2{
	text-align: center;
}
body{
	background-color: white;
	font-size: 16px;
	color: black;
}
#header-nav{
	background-color: grey;
	border: 1px solid black;
}
#header-nav .navbar-brand{
	float: left;
}
ul{
	text-align: center;
	text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
#navbarlist{
	margin-bottom: 0;
	padding: 0px;
/*	background-color: lightgrey;*/
}
.navbar-toggler-icon:active{
	border: white;
	background: white;
}
.div_settings{
	background-color:grey;
	color: black;
	float: left;
	margin: 10px 10px 10px 10px;
}
.div_settings h3{
	text-align: center;
}
#main{
	background-color: white;
}
button:not(.collapsed){
	background-color: white;
/*	background: white;*/
}
/********** large devices only **********/
@media (min-width: 1200px){

}
/********** medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){

}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px){
	.Bor{
	border: 2px solid black;
}
}
/********** Extra small devices only **********/
@media (max-width: 767px){
	.Bor{
	border: 2px solid black;
}

}